<div class="bg-white py-8 px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-7xl">
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-2xl font-bold">Top resturant chains in chennai</h2>
      
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

      <a href="https://www.swiggy.com/city/chennai/the-brownie-studio-perumpakkam-main-road-medavakkam-rest691463" class="block bg-white shadow-md rounded-lg overflow-hidden hover:scale-105 transition-transform duration-300">
        <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/68590de82cfdd60b837cca9399e9127b" alt="Restaurant" class="w-full h-48 object-cover">
        <div class="p-4">
          <h3 class="text-lg font-bold">The Brownie studio</h3>
          <p class="text-sm text-gray-500">Medavakkam</p>
          <p class="text-sm text-gray-500">4.7 20-25 mins</p>
        </div>
      </a>


      <a href="https://www.swiggy.com/city/chennai/smoor-ex-serviceman-colony-medavakkam-rest617972" class="block bg-white shadow-md rounded-lg overflow-hidden hover:scale-105 transition-transform duration-300">
        <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2024/10/14/ae6a609c-e6f6-4765-8ec0-51e1de8580da_617972.jpg" alt="Restaurant" class="w-full h-48 object-cover">
        <div class="p-4">
          <h3 class="text-lg font-bold">SMOOR</h3>
          <p class="text-sm text-gray-500">Medavakkam</p>
          <p class="text-sm text-gray-500">4.2 30-35 mins</p>
        </div>
      </a>


      <a href="https://www.swiggy.com/city/chennai/cheesecakes-by-cakezone-dr-ambedkar-cross-stree-perumbakkam-rest611155">
        <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2024/8/12/717fe8d6-cc25-487a-b9cf-83c11b043fb4_611155.jpg" alt="Restaurant" class="w-full h-48 object-cover">
        <div class="p-4">
          <h3 class="text-lg font-bold">Cheese Cakes</h3>
          <p class="text-sm text-gray-500">Perumbakkam</p>
          <p class="text-sm text-gray-500">41-30-35 mins</p>
        </div>
      </a>

      <a href="https://www.swiggy.com/city/chennai/mcdonalds-gourmet-burger-collection-gire-thoraipakkam-karapakkam-rest395365" class="block bg-white shadow-md rounded-lg overflow-hidden hover:scale-105 transition-transform duration-300">
        <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/eatjnqnudbkbbwnvjho4" alt="Restaurant" class="w-full h-48 object-cover">
        <div class="p-4">
          <h3 class="text-lg font-bold">Mc Donalds</h3>
          <p class="text-sm text-gray-500">Karapakkam</p>
          <p class="text-sm text-gray-500">4.1 30-35 mins</p>
        </div>
      </a>

    </div>
  </div>
</div>